<div style="align-text:center;">
  <a href="/privacidad" title="Política de Privacidad">Politica de Privacidad</a>&emsp;
  <a href="/terminos" title="Términos y Condiciones del Servicio">Términos y Condiciones</a>&emsp;
  <a href="/ayuda" title="Ayuda">Ayuda</a>
</div>
