{# Archivo para mostrar en todas las páginas, si no está autenticado el botón Login #}
{# y si lo está el botón Log out y los datos esenciales de perfil de usuario #}

<!-- Login button: show if NOT authenticated -->
<div class="auth-invisible">
  <button class="auth-invisible hidden" id="qsLoginBtn" onclick="login()">Log in</button>
</div>
<!-- /Login button -->

<!-- Profile: show if authenticated -->
<div class="auth-visible hidden">
  <span class="user-info">
    <!-- Profile image should be set to the profile picture from the id token -->
    <img alt="Profile picture"	class="profile-image" width="50"/>
    <!-- Show the user's display name from the id token here -->
    <h6 class="display_name"></h6>
  </span>  
  <a href="/profile" class="route-link">Profile</a>
  <button id="qsLogoutBtn" onclick="logout()">Log out</button>
</div>


