{# Archivo para mostrar en todas las páginas, si no está autenticado el botón Login #}
{# y si lo está el botón Log out y los datos esenciales de perfil de usuario #}
<style>
  .header-container {
    width: 80%;
    margin: auto;
    padding: 10px;
  }
  
  .left {
    width: 15%;
    float: left;
  }
  
  .right {
    margin-left: 15%;
  }
</style>
<!-- Login button: show if NOT authenticated -->
<section class="auth-invisible">
  <button id="qsLoginBtn" onclick="login()">Log in</button>
</section>
<!-- /Login button -->

<!-- Profile: show if authenticated -->
<section class="header-container auth-visible hidden">
  <div class="left">
    <span class="user-info">
      <!-- Profile image should be set to the profile picture from the id token -->
      <img alt="Profile picture"	class="profile-image" width="50"/>
      <!-- Show the user's display name from the id token here -->
      <h6 class="display_name"></h6>
    </span> 
  </div>
  <div class="right">
    <a href="/profile" class="route-link">Profile</a>
    <button id="qsLogoutBtn" onclick="logout()">Log out</button>
  </div>
</section>
<div style="clear:both;"></div>

