<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
    <head>
        <title>Prueba de Autenticación</title>
        <link href="/styles/digital-garden-base.css" rel="stylesheet">
        {%-if meta.themeStyle%}
            <link href="/styles/obsidian-base.css" rel="stylesheet">
    	    <link href="{{meta.themeStyle}}" rel="stylesheet">
        {% else %}
            <link href="/styles/style.css" rel="stylesheet">
        {%endif%}

        <link href="/styles/custom-style.css" rel="stylesheet">
        
	<script src="/scripts/server.js" />
    </head>
    <body class="theme-{{meta.baseTheme}} markdown-preview-view">
        <div class="content centered">

            {%-if not meta.themeStyle%}
                <div class="font-bg"> &#128706;<!-- Passport Control--> </div>
            {%endif%}
            
			<h1>Prueba de autenticación</h1>
			<p>Prueba de autenticación por medio de Auth0 usando Stack Overflow OAuth, basado en https://auth0.com/docs/quickstart/spa/vanillajs/01-login#initialize-the-sdk</p>
			<div class="hidden" id="gated-content">
			    <p>
			      You're seeing this content because you're currently
			      <strong>logged in</strong>.
			    </p>
			    <label>
			      Access token:
			      <pre id="ipt-access-token"></pre>
			    </label>
			    <label>
			      User profile:
			      <pre id="ipt-user-profile"></pre>
			    </label>
		 	</div>
            <p></p><a href="/">Volver a inicio</a></p>
        </div>
  
	<script src="/scripts/app.js" />

    </body>
</html>
